In [66]:
import numpy as np
import pandas as pd
import scipy.stats.distributions as dist

In [67]:
data = pd.read_csv('C:/Users/Lenovo/Desktop/train.csv')[['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']]

In [68]:
data['Survived'] = data['Survived'].map({1:'Survived',0:'Not Survived'})
data = data.dropna(subset = ['Sex'])

In [92]:
contingency_table = pd.crosstab(data.Survived,data.Sex)
contingency_table

Sex           female  male
Survived
Not Survived      81   468
Survived         233   109

In [70]:
pd.crosstab(data.Survived,data.Sex).apply(lambda r:r/r.sum(),axis=0)

Sex             female      male
Survived
Not Survived  0.257962  0.811092
Survived      0.742038  0.188908

In [71]:
total_proportion_survived = (data.Survived == "Survived").mean()
num_female = data[data.Sex=="female"].shape[0]
num_male = data[data.Sex=="male"].shape[0]
assert num_female*total_proportion_survived>10, "Assumptions not met"
assert num_male*total_proportion_survived>10, "Assumptions not met"
assert num_female*(1-total_proportion_survived)>10, "Assumptions not met"
assert num_male*(1-total_proportion_survived)>10, "Assumptions not met"

In [72]:
prop = data.groupby("Sex")["Survived"].agg([lambda z: np.mean(z=="Survived"), "size"])
prop.columns = ['proportions_survived','total_counts']
prop

        proportions_survived  total_counts
Sex
female              0.742038           314
male                0.188908           577

In [73]:
variance = total_proportion_survived * (1 - total_proportion_survived)
standard_error = np.sqrt(variance * (1 / prop.total_counts.female + 1 / prop.total_counts.male))
print("Sample Standard Error",standard_error)

Sample Standard Error 0.03410418241806778

In [74]:
best_estimate = (prop.proportions_survived.female - prop.proportions_survived.male)
print("The best estimate is",best_estimate)
hypothesized_estimate = 0
test_stat = (best_estimate-hypothesized_estimate) / standard_error
print("Computed Test Statistic is",test_stat)

The best estimate is 0.5531300709799203
Computed Test Statistic is 16.218833930670097

In [91]:
pvalue = 2*dist.norm.cdf(-np.abs(test_stat)) # Multiplied by two indicates a two tailed testing.
print("Computed P-value is", pvalue)

Computed P-value is 3.7117477701134797e-59